body {
    background-image: url("https://www.filterforge.com/filters/11635-v7.jpg");
    background-repeat: repeat;
    padding: 10px;
}

.list {
    border-radius: 10%;
    background: #808080;
    margin: 16px;
    padding: 5px;
}

.strike {
    text-decoration: line-through;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
}

.show {display:block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.itemdiv {
    border-radius: 10px;
    background: #808080;
    margin: auto;
    padding: 5px; 
    width: 500px;
    position: relative;
}

.additem {
    margin-left: 30%;
}

.firstItem {
    border-style: solid; 
    border-width: 2px; 
    border-top-width: 4px;
}

.middleItem {
    border-style: solid;
    border-width: 2px;
}

.lastItem {
    border-style: solid; 
    border-bottom-width: 4px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.itemtext {
    float: left;
    color: white;
}

.itemtextlinethrough {
    float: left;
    color: white;
    text-decoration: line-through;
}

.pacman {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("Original_PacMan.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pacmanclose {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("Closed_PacMan.png");
    background-repeat: no-repeat;
    background-size: contain;
}
