.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-5.092800px;}
._1{margin-left:-2.870400px;}
._2{margin-left:-1.001200px;}
._0{width:132.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs1{font-size:52.000000px;}
.y0{bottom:0.000000px;}
.y1d{bottom:14.372310px;}
.y1c{bottom:37.372310px;}
.y1{bottom:52.627690px;}
.y1b{bottom:59.372310px;}
.y1a{bottom:81.372310px;}
.y19{bottom:103.372310px;}
.y18{bottom:126.372310px;}
.y17{bottom:148.372310px;}
.y16{bottom:170.372310px;}
.y15{bottom:192.372310px;}
.y14{bottom:215.372310px;}
.y13{bottom:237.372310px;}
.y12{bottom:259.372310px;}
.y11{bottom:281.372310px;}
.y10{bottom:304.372310px;}
.yf{bottom:326.372310px;}
.ye{bottom:348.372310px;}
.yd{bottom:370.372310px;}
.yc{bottom:393.372310px;}
.yb{bottom:415.372310px;}
.ya{bottom:437.372310px;}
.y9{bottom:459.372310px;}
.y8{bottom:482.372310px;}
.y7{bottom:504.372310px;}
.y6{bottom:526.372310px;}
.y5{bottom:548.372310px;}
.y4{bottom:571.372310px;}
.y3{bottom:593.372310px;}
.y2{bottom:638.372310px;}
.h3{height:33.351562px;}
.h2{height:36.130859px;}
.h1{height:655.000000px;}
.h0{height:792.000000px;}
.w1{width:525.728100px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:3.909480px;}
.x1{left:65.090520px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-6.790400pt;}
._1{margin-left:-3.827200pt;}
._2{margin-left:-1.334933pt;}
._0{width:176.000000pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:69.333333pt;}
.y0{bottom:0.000000pt;}
.y1d{bottom:19.163080pt;}
.y1c{bottom:49.829747pt;}
.y1{bottom:70.170253pt;}
.y1b{bottom:79.163080pt;}
.y1a{bottom:108.496413pt;}
.y19{bottom:137.829747pt;}
.y18{bottom:168.496413pt;}
.y17{bottom:197.829747pt;}
.y16{bottom:227.163080pt;}
.y15{bottom:256.496413pt;}
.y14{bottom:287.163080pt;}
.y13{bottom:316.496413pt;}
.y12{bottom:345.829747pt;}
.y11{bottom:375.163080pt;}
.y10{bottom:405.829747pt;}
.yf{bottom:435.163080pt;}
.ye{bottom:464.496413pt;}
.yd{bottom:493.829747pt;}
.yc{bottom:524.496413pt;}
.yb{bottom:553.829747pt;}
.ya{bottom:583.163080pt;}
.y9{bottom:612.496413pt;}
.y8{bottom:643.163080pt;}
.y7{bottom:672.496413pt;}
.y6{bottom:701.829747pt;}
.y5{bottom:731.163080pt;}
.y4{bottom:761.829747pt;}
.y3{bottom:791.163080pt;}
.y2{bottom:851.163080pt;}
.h3{height:44.468750pt;}
.h2{height:48.174479pt;}
.h1{height:873.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:700.970800pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:5.212640pt;}
.x1{left:86.787360pt;}
}
